{% load static %}

<!DOCTYPE html>
<html>

<head>
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" href="{% static 'general-styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Lato|Roboto&display=swap" rel="stylesheet">
    <script>
        // get data from Python context
        // var fileToDisplay = "{{ file_to_display }}"
        var filesDisplay = {{ files_display| safe }};
        var filesExist = {{ files_exist| safe }};
        // console.log({{ itemos| safe}})
    </script>
</head>

<!-- <body oncontextmenu="return false"> -->

<body style='overflow:hidden;'>

    <div>

        <div id="toolbar" class="toolbar-scrollbar" style="padding:15px;overflow-y:auto;direction:rtl">
            <div style="direction:ltr">

                <h1><a href="">cmviz</a></h1>
                <a href="/dummy">flush</a>

                <p class="toolbar-header">Uploaded files</p>
                <div id="files-exist"></div>

                <p class="toolbar-header">Upload additional files</p>
                <div id="uploader">


                    <!-- {% if files_exist %}
                <ul>
                    {% for i in files_exist %}
                    <li>{{ i }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No documents.</p>
                {% endif %} -->

                    <form id="upload-form" action="{% url 'main' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.docfile.label_tag }}
                        {{ form.docfile }}
                        <input type="hidden" name="form-type" value="upload">
                        <input class="button" style="width:100%;" type="submit" value="upload file" />
                    </form>



                </div>

                <div>
                    <p class="toolbar-header">Download</p>
                    <a class="button unclickable" id="download-button">download selection (0)</a>
                </div>

                <!-- <div id="info">
                <p class="toolbar-header">Information</p>
                <div id="info-container" style="padding-left:10px;"></div>
            </div> -->

                <div id="sliders">
                    <p class="toolbar-header">Selection</p>
                    <div style="padding-left:10px;"></div>
                </div>

                <div id="sausages">
                    <p class="toolbar-header">Selection</p>
                    <div></div>
                </div>

                <!-- <div id="container">
                    <p class="toolbar-header">Covariance model types</p>
                </div>

                <div id="continuous-sliders">
                    <p class="toolbar-header">Continuous sliders</p>
                </div> -->

            </div>
        </div>

        <div class="bluescrollbar" id="cmfield-container" style="position:absolute;top:0;left:295px;bottom:0;right:0;">

            <svg id="cmfieldbackground"></svg>
            <svg id='cmfield' style="position:absolute;left:0;">

                <defs>
                    <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                        <stop offset="0%" style="stop-color:rgb(255,255,0);stop-opacity:1" />
                        <stop offset="100%" style="stop-color:rgb(255,0,0);stop-opacity:1" />
                    </linearGradient>
                </defs>

            </svg>
        </div>
    </div>

    <script src="{% static 'js/upload-button.js' %}"></script>
    <script src="{% static 'js/gradients.js' %}"></script>
    <script src="{% static 'js/cmfield-background.js' %}"></script>
    <script src="{% static 'js/cmfield.js' %}"></script>
    <script src="{% static 'js/dragging.js' %}"></script>
    <script src="{% static 'js/sausages.js' %}"></script>
    <script src="{% static 'js/utrs.js' %}"></script>
    <script src="{% static 'js/continuous-slider.js' %}"></script>
    <script src="{% static 'js/tooltip.js' %}"></script>
    <script src="{% static 'js/infobar.js' %}"></script>
    <script src="{% static 'js/selectors.js' %}"></script>
    <script src="{% static 'js/download-button.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/hsvtoRgb.js' %}"></script>
    <!-- <script src="{% static 'js/funcs-make.js' %}"></script> -->
    <script src="{% static 'js/funcs-behave.js' %}"></script>
    <!-- <script src="{% static 'js/funcs-viz.js' %}"></script> -->
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        runMain();
    </script>

</body>

</html>