text, span, div {
  font-family: 'Inconsolata', monospace;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.toolbar-information-p {
  line-height: 18px;
  margin: 0;
  font-weight: bold;
}

div#tooltip {
  background-color: #444444;
  padding: 4px 5px;
  border-radius: 3px;
  color: #dddddd;
  border: 0.5px solid #333333;
  opacity: 0.95;
}

#svg-evalue {
  height: 40px;
}

#svg-bitscore {
  height: 40px;
}

#toolbar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background: #eeeeee;
  border-right: 1px solid darkgray;
}

.toolbar-header {
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

#upload-button {
  padding: 3px 5px;
  color: white;
  background-color: rgb(143, 14, 0);
  margin: 0;
  border-radius:3px;
  cursor:pointer;
}