{% load static %}

<!DOCTYPE html>
<html>

<head>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- <script src="https://d3js.org/d3-drag.v1.min.js"></script> -->
    <link rel="stylesheet" href="{% static 'general-styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Lato|Roboto&display=swap" rel="stylesheet">
    <script>
        // get data from Python context
        var fileToDisplay = "{{ file_to_display }}";
    </script>
</head>

<!-- <body oncontextmenu="return false"> -->

<body>

    <div>

        <div id="toolbar" style="padding:15px;">
            <!-- <div style="position:relative;margin:10px 0 20px 0">
                <img src="{% static 'logo.png' %}" alt="UTR" width=40 height=40 style="margin-left:20px;">
                <h1>cmviz</h1>
            </div> -->

            <h1>cmviz</h1>

            <div id="uploader">
                <!-- <p class="toolbar-header">I/O</p> -->
                <!-- </div> -->

                <!-- <div id="selected"> -->
                <!-- <p class="toolbar-header">DOWNLOAD</p> -->
                <div class="button">upload file</div>

                <a class="button unclickable" id="download-button">download selection</a>

                <!-- <p id="current"></p> -->
            </div>


            <!-- <div id="info">
                <p class="toolbar-header">Information</p>
                <div id="info-container" style="padding-left:10px;"></div>
            </div> -->

            <div id="sliders">
                <p class="toolbar-header">Selection</p>
                <div style="padding-left:10px;">
                    <!-- <svg id="svg-evalue"></svg> -->
                    <!-- <svg id="svg-bitscore"></svg> -->
                    <!-- <svg id="svg-gc"></svg> -->
                </div>
            </div>


            <div id="container">
                <p class="toolbar-header">Covariance model types</p>
            </div>

            <div id="continuous-sliders">
                <p class="toolbar-header">Continuous sliders</p>
            </div>


        </div>

        <div style="position:absolute;top:0;left:280px;margin:20px;bottom:0;right:0;">
            <div style="width:100%;height:100%;overflow:scroll;">
                <svg id='main'></svg>
            </div>
        </div>
    </div>

    <script src="{% static 'js/continuous-slider.js' %}"></script>
    <script src="{% static 'js/tooltip.js' %}"></script>
    <script src="{% static 'js/infobar.js' %}"></script>
    <script src="{% static 'js/selectors.js' %}"></script>
    <script src="{% static 'js/upload-button.js' %}"></script>
    <script src="{% static 'js/download-button.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/hsvtoRgb.js' %}"></script>
    <script src="{% static 'js/funcs-make.js' %}"></script>
    <script src="{% static 'js/funcs-behave.js' %}"></script>
    <script src="{% static 'js/funcs-viz.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>