text, span {
  font-family: 'Inconsolata', monospace;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  ;
  color: white;
}

#wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

#wrapper>div {
  display: table-row;
}

#wrapper>div>div {
  display: table-cell;
}

#top, #bottom {
  height: 50px;
}

#wrapper>div>#topleft, #wrapper>div>#middleleft, #wrapper>div>#bottomleft {
  width: 300px;
}

#wrapper>div>#topright, #wrapper>div>#bottomright {
  background: gray;
}

#wrapper>div>#topleft, #wrapper>div>#bottomleft {
  background: #092A7C;
}

#middleleft {
  /* padding:10px 0; */
  height: 100%;
  background-color: #eeeeee;
}

#middleright {
  padding: 10px 0;
}

/* #cm-box {
  height: 200px;
  width: 100%;
  background-color: #eeeeee;
} */


#main {
  height: 100%;
  width: 100%;
}

.cm-box-rect {
  /* padding: 0 10%; */
  rx: 1;
  ry: 1;
  /* margin; */
}

#cm-box>g>text::selection {
  background-color: rgba(255, 255, 255, 0);
}

/* #tooltip {
  position: absolute;	
  text-align: center;	
  width: 60px;	
  height: 28px;		
  padding: 2px;	
  font: 12px sans-serif;	
  background: lightsteelblue;	
  border: 0px;					
  border-radius: 8px;	
} */

#svg-evalue {
  height: 50px;
}

#svg-bitscore {
  height: 50px;
}